recursive-include doc_src *
recursive-include docs *

recursive-include tinymcewrapper/media *
recursive-include tinymcewrapper/templates *

include LICENSE
include README
include *.txt

prune example/
